body{
    font-family: Arial;
    background: #f0f4f8;
    text-align: center;
    background-image: url(assets/Ilustração\ de\ site\ para\ doação\ de\ sangue.png);
    background-size: cover;
    background-repeat: no-repeat;
}

form {
    background: white;
    padding: 20px;
    width: 300px;
    margin: auto;
    border-radius: 10px;
    margin-top: 300px;
}

input,select,button{
    width: 100%;
    margin: 5px 0;
    padding: 10px;
}

button {
    background: #e53935;
    color: white;
    border: none;
    cursor: pointer;
}

#mensagem {
    margin-top: 10px;
    color: red;
}

.titulo {
  position: relative;
  top: 250px;
  color: #e53935;
}